Repository JBossOutreach/certificate-generator-front, pull requests merged in 2018-12, with the labels that each got.

#123 Sign-Up Page for New Users
  package.json
  src/app/app.component.html
  src/app/app.module.ts
  src/app/core/signup/signup.component.css
  src/app/core/signup/signup.component.html
  src/app/core/signup/signup.component.spec.ts
  src/app/core/signup/signup.component.ts
  src/app/core/signup_assets/footer.component.css
  src/app/core/signup_assets/footer.component.html
  src/app/core/signup_assets/footer.component.spec.ts
  src/app/core/signup_assets/footer.component.ts
  src/app/core/signup_assets/navbar.component.css
  src/app/core/signup_assets/navbar.component.html
  src/app/core/signup_assets/navbar.component.spec.ts
  src/app/core/signup_assets/navbar.component.ts
  src/assets/jboss_logo.svg
  src/index.html
Labels: Good For Merge

#116 HTML/CSS template for certificate
  angular.json
  src/app/templates/certificate-template/certificate-template.component.css
  src/app/templates/certificate-template/certificate-template.component.html
  src/app/templates/certificate-template/certificate-template.component.spec.ts
  src/app/templates/certificate-template/certificate-template.component.ts
Labels: Certificate Template, Good For Merge

#182 Listing all certificates issued by organization
  src/app/environments/environments.ts
  src/app/organization/organization.component.css
  src/app/organization/organization.component.html
  src/app/organization/organization.component.ts
  src/app/services/certificate.model.ts
  src/app/services/organization.service.ts
Labels: Good For Merge

#180 Basic Certificate Template
  src/app/app.component.css
  src/app/templates/certificate-ant/template.component.css
  src/app/templates/certificate-ant/template.component.html
  src/app/templates/certificate-ant/template.component.spec.ts
  src/app/templates/certificate-ant/template.component.ts
Labels: Certificate Template, Good For Merge

#149 Added Responsive Certificate Template for Optional Fields
  src/app/templates/certificate_vittal/certificate.component.css
  src/app/templates/certificate_vittal/certificate.component.html
  src/app/templates/certificate_vittal/certificate.component.spec.ts
  src/app/templates/certificate_vittal/certificate.component.ts
Labels: Certificate Template

#226 Bulk upload
  src/app/organization/organization.component.css
  src/app/organization/organization.component.html
  src/app/organization/organization.component.ts
  src/app/services/organization.service.ts
Labels: Bulk-Cert-Gen
